<sky-modal>
    <sky-modal-header>
        Temp
    </sky-modal-header>
    <sky-modal-content>
        <div id="docs-modal-content">
            This modal can have content!
        </div>
        <label>
            Value A
            <input type="text" [(ngModel)]="context.valueA">
        </label>
        <p>
            
        </p>
    </sky-modal-content>
    <sky-modal-footer>
        <button type="button" class="sky-btn sky-btn-primary">
            Close
        </button>
    </sky-modal-footer>
</sky-modal>